.splash-bg {
    background: url('../img/bg.jpg') repeat;
}

.splash {
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
}

.splash .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: 120px;
}

.fadein {
    opacity: 1 !important;
    transition: opacity 2s ease-in-out;
}

.splash .btn-admin {
    margin: 0 0 15px 15px;
}

.splash .btn-configuration {
    margin: 15px 15px 0 0;
}